@import url("https://fonts.googleapis.com/css2?family=WindSong&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap");
.App {
  text-align: center;
}
.App .mainhead {
  font-family: "Noto Serif JP", serif;
  color: black;
}
.App .subhead {
  font-family: "WindSong", cursive;
}
